{% extends 'layout/layout.twig' %}
{% set active_page = 'employee' %}
{% set title = 'Добавление проекта сотруднику: ' ~ employee.lastName ~ ' ' ~ employee.firstName %}

{% block content %}
    {{ include('parts/error.twig') }}
    <form method="post">
        <input type="hidden" name="employee_id" value="{{ employee.id }}">
        <div class="mb-3">
            <label for="project_id" class="form-label">Проект</label>
            <select class="form-select" id="project_id" name="project_id">
                <option>Не указан</option>
                {% for project in projects %}
                    <option value="{{ project.id }}"
                            {% if form.projectId == project.id %}selected{% endif %}>{{ project.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
{% endblock %}