{{ include('parts/error.twig') }}
<form method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Название проекта</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ form.name }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>