{% extends 'layout/layout.twig' %}
{% set active_page = 'report' %}
{% set title = 'Отчеты' %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id проекта</th>
                <th scope="col">Название проекта</th>
                <th scope="col">Бюджет</th>
            </tr>
            </thead>
            <tbody>
            {% for report in reports %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ report.id }}</td>
                    <td>{{ report.name }}</td>
                    <td>{{ report.budget }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}